.layout {
    min-height: 100dvh;
    min-width: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.navbar-wrapper {
    position: fixed;
    display: flex;
    width: 100%;

    &::before {
        content: "";
        width: calc(50% - var(--navbar-width) / 2);
        transition: width .5s ease;
        
    }

    &:has(.shrinked)::before {
        content: "";
        width: 0;
    }
}


.navbar {
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1em;
    padding: 0.75em 1.5em;
    margin: 1em;
    align-items: center;
    background-color: var(--secondary-200);
    border-radius: 1.5em;
<<<<<<< HEAD
    width: fit-content;
=======
    width: var(--navbar-width);
>>>>>>> 1d43d30 (ForceGraph Integrated)
    box-shadow: var(--m-shine);
    background: linear-gradient(90deg, var(--low-light) 50%, var(--high-light));

    &, * {
        transition: 0.25s ease-out;
    }

    img {
        filter: invert(var(--icon-color));
        width: 1em;
    }

    > img {
        display: flex;
        padding: none;
        border: none;
        background-color: transparent;
        padding: 0;
        width: 1.5rem;

        &:nth-child(3){
            width: 2rem;
            height: 2rem;
        }
    }

    * {
        color: var(--text-700);
    }

    &.shrinked {
        width: calc-size(fit-content, size);
    }
}

.links {
    display: flex;
    gap: 1em;
    
    a {
        display: flex;
        gap: 0.5em;
        align-items: center;
    }

    .active {
        background-color: var(--primary-400);
        box-shadow: var(--l-shine);
        
    }

    > :hover {
        background-color: var(--primary-400);
    }

    > * {
        padding: 0.5em;
        border-radius: 0.25em;
        text-decoration: none;
        box-shadow: var(--s-shine);
        background-color: var(--secondary-300);
    }
    
}

main {
    transition: 0.25s;
}

.main-shifted {
    margin-top: 10rex;
}

.main-full {
    margin-top: 0;
}