.layout {
    min-height: 100dvh;
    min-width: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

*:has(>.navbar) {
    display: flex;

    &::before {
        content: "";
        width: 35%;
        transition: width .5s ease;
        
    }

    &:has(.shrinked)::before {
        content: "";
        width: 0;
    }
}


.navbar {
    height: 2.5rem;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1em;
    padding: 0.75em 1.5em;
    margin: 1em;
    align-items: center;
    background-color: var(--secondary-200);
    border-radius: 1.5em;
    width: 30%;
    box-shadow: var(--m-shine);
    background: linear-gradient(90deg, var(--secondary-200) 50%, var(--secondary-300));

    &, * {
        transition: 0.25s ease-out;
    }

    img {
        filter: invert(var(--icon-color));
        width: 1em;
    }

    > img {
        display: flex;
        padding: none;
        border: none;
        background-color: transparent;
        padding: 0;
        width: 1.5rem;

        &:nth-child(3){
            width: 2rem;
            height: 2rem;
        }
    }

    * {
        color: var(--text-700);
    }

    &.shrinked {
        width: calc-size(fit-content, size);
        transition-property: margin-bottom;
        transition-duration: 2s;
    }
}



.inv-block {
    height: 0;

    &.shrinked {
        animation: InvShrink 0.25s;
    }
}

@keyframes InvShrink {
    from {height: 2.5rem;}
    to {height: 0px;}
}


.links {
    display: flex;
    gap: 1em;
    
    a {
        display: flex;
        gap: 0.5em;
    }

    .active {
        background-color: var(--primary-400);
        box-shadow: var(--l-shine);
        
    }

    > :hover {
        background-color: var(--primary-400);
    }

    > * {
        padding: 0.5em;
        border-radius: 0.25em;
        text-decoration: none;
        box-shadow: var(--s-shine);
        background-color: var(--secondary-300);
    }
    
}

main {
    transition: 0.25s;
}