.layout {
    min-height: 100dvh;
    min-width: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.navbar-wrapper {
    position: fixed;
    display: flex;
    width: 100%;

    &::before {
        content: "";
        width: calc(50dvw - var(--navbar-width) / 2 - 1.5em);
        transition: width .5s ease;
        
    }

    &:has(.shrinked)::before {
        content: "";
        width: 0;
    }
}


.navbar {
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1em;
    padding: 0.75em 1.5em;
    margin: 1em;
    align-items: center;
    background-color: var(--sec-2);
    border-radius: 1.5em;
    width: var(--navbar-width);
    box-shadow: var(--m-shine);
    background: linear-gradient(90deg, var(--prim-1) 50%, var(--prim-3));

    &, * {
        transition: 0.25s ease-out;
    }

    img {
        filter: invert(var(--icon-color));
        width: 1em;
    }

    > img {
        display: flex;
        padding: none;
        border: none;
        background-color: transparent;
        padding: 0;
        width: 1.5rem;

        &:nth-child(3){
            width: 2rem;
            height: 2rem;
        }
    }

    * {
        color: var(--text-subsec);
    }

    &.shrinked {
        width: fit-content;
    }
}

.links {
    display: flex;
    gap: 1em;
    
    a {
        display: flex;
        gap: 0.5em;
        align-items: center;
    }

    .active {
        background-color: var(--acc-1);
        box-shadow: var(--l-shine);
        
    }

    > :hover {
        background-color: var(--prim-3);
    }

    > * {
        padding: 0.5em;
        border-radius: 0.25em;
        text-decoration: none;
        box-shadow: var(--s-shine);
        background-color: var(--sec-3);
    }
    
}

footer {
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    background-color: var(--sec-2);
    color: var(--text-subsec);
    box-shadow: var(--m-shine);
}

main {
    transition: 0.25s;
    display: flex;
    flex-direction: column;
}

.main-shifted {
    margin-top: 10ex;
}

.main-full {
    margin-top: 0;
}