.rel-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    background-color: var(--secondary-300);
    padding: 1em;
    border: none;
    border-radius: 1em;
    gap: 1em;
    box-shadow: var(--s-shine);
    background: linear-gradient(var(--high-light), var(--low-light));

    > legend {
        color: var(--text-800);
    }
}

.rel-card-text-wrapper {
    background-color: var(--primary-100);
    border-radius: 1em;
    padding: 0.2em 1em;
    box-shadow: var(--s-shine);
}

.rel-card-text {
    color: var(--text-800);
    height: 9.5em;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--text-600) var(--primary-100);
}