.homepage {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    align-self: center;
}

.rel-cards {
    min-width: 70%;
    display: grid;
    
    justify-items: center;
    gap: 1em;
}

.logo-and-desc {
    width: 50%;
    background-color: var(--sec-3);
    padding: 1em;
    border-radius: 1em;
    border: 1px solid var(--bg-2);
    margin: 1em;
    
    text-align: center;
    display: grid;
    gap: 0.5em;

    .logo {
        color: var(--text-main);
        font-family: 'Bree Serif';
        font-weight: 700;
        font-size: 5em;
    }

    .desc {
        background-color: var(--prim-2);
        padding: 1em;
        border-radius: 1em;
        border: 1px solid var(--bg-3);
        color: var(--text-desc);
    }
}

.subtitle {
    color: var(--text-subsec);
    font-size: 2.5em;
    justify-self: flex-start;
    border-bottom: 2px dashed var(--text-desc);
    width: 100%;
}

.add-container {
    display: grid;
    grid-template-columns: 1fr 130px;
    align-items: center;
    max-width: 80%;
    width: 80%;
    background-color: var(--prim-1);
    padding: 1em;
    border: none;
    border-radius: 1em;
    gap: 1em;
    box-shadow: var(--s-shine);

    margin: 1em;

    button {
        font-family: 'Bree Serif';
        font-size: 1.2em;
        background-color: var(--prim-3);
        border-color: var(--prim-1);
        height: fit-content;
        padding: 0.5em;
        border-radius: 0.5em;

        color: var(--text-subsec);

        &:hover {
            background-color: var(--highlight);
            cursor: pointer;
        }
    }
}

.user-phrase-input {
    font-family: 'Bree Serif';
    font-weight: 400;
    background-color: var(--prim-3);
    color: var(--text-subsec);
    height: 9.5em;
    overflow-y: auto;
    scrollbar-color: var(--text-desc) var(--prim-3);

    border-color: var(--sec-2);

    padding: 0.5em;
    border-radius: 0.5em;
}

.buttons-block {
    justify-self: center;
    display: grid;
    gap: 1em;
    height: 80px;
    width: 130px;
    grid-template-rows: auto auto;
}

.language-choice {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: var(--text-subsec);
    gap: 0.5em;
}

.lang-dropdown {
    position: relative;
    
    span {
        display: inline-block;
        text-align: center;
        width: 3ex;
        background-color: var(--prim-3);
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
    }
}

.lang-dropdown-choices {
    display: none;
    position: absolute;
    bottom: 1em;
    background-color: var(--prim-3);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    border: 1px solid var(--bg-2);
    border-radius: 0.5em;
    
    overflow: hidden;

    color: var(--text-subsec);

    div {
        padding: 0.5em;
    }

    div:hover {
        background-color: var(--prim-1);
    }
}

.lang-dropdown:hover .lang-dropdown-choices {
    display: block;
}