.homepage {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    align-self: center;
}

.rel-cards {
    min-width: 70%;
    display: grid;
    
    justify-items: center;
    gap: 1em;
}

.logo-and-desc {
    width: 50%;
    background-color: var(--secondary-400);
    padding: 1em;
    border-radius: 1em;
    border: 1px solid var(--primary-600);
    margin: 1em;
    
    text-align: center;
    display: grid;
    gap: 0.5em;

    .logo {
        color: var(--text-900);
        font-family: 'Bree Serif';
        font-weight: 700;
        font-size: 5em;
    }

    .desc {
        background-color: var(--secondary-300);
        padding: 1em;
        border-radius: 1em;
        border: 1px solid var(--primary-500);
        color: var(--text-700)
    }
}

.subtitle {
    color: var(--text-700);
    font-size: 2.5em;
    justify-self: flex-start;
    border-bottom: 2px dashed var(--text-700);
    width: 100%;
}

.add-container {
    display: grid;
    grid-template-columns: 1fr 130px;
    align-items: center;
    max-width: 80%;
    width: 80%;
    background-color: var(--secondary-300);
    padding: 1em;
    border: none;
    border-radius: 1em;
    gap: 1em;
    box-shadow: var(--s-shine);
    background: linear-gradient(var(--high-light), var(--low-light));

    button {
        font-family: 'Bree Serif';
        font-size: 1.2em;
        background-color: var(--secondary-100);
        border-color: var(--primary-500);
        height: fit-content;
        padding: 0.5em;
        border-radius: 0.5em;
    }
}

.user-phrase-input {
    font-family: 'Bree Serif';
    font-weight: 400;
    background-color: var(--secondary-100);
    color: var(--text-800);
    height: 9.5em;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--text-600) var(--primary-100);

    padding: 0.5em;
    border-radius: 0.5em;
}

.buttons-block {
    justify-self: center;
    display: grid;
    gap: 1em;
    height: 80px;
    width: 130px;
    grid-template-rows: auto auto;
}

.language-choice {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.5em;
}

.lang-dropdown {
    position: relative;
    
    span {
        display: inline-block;
        text-align: center;
        width: 3ex;
        background-color: var(--secondary-100);
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
    }
}

.lang-dropdown-choices {
    display: none;
    position: absolute;
    bottom: 1em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    border: 1px solid var(--primary-500);
    border-radius: 0.5em;
    
    overflow: hidden;

    div {
        padding: 0.5em;
    }

    div:hover {
        background-color: var(--secondary-100);
    }
}

.lang-dropdown:hover .lang-dropdown-choices {
    display: block;
}